body {
    margin: 0;
}

html {
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

button {
    cursor: pointer;
}

#map {
    width: 100%;
    height: calc(100% - 58px);
    position: fixed;
}

.g-footer-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

#map .ol-control {
    background-color: inherit;
}

#map .ol-zoom button {
    cursor: pointer;
    background-color: white;
    color: #00425d;
    margin: 0;
    width: 28px;
    height: 32px;
}

#map .ol-zoom-in {
    border-radius: 4px 4px 0 0;
}

#map .ol-zoom-out {
    border-radius: 0 0 4px 4px;
}

#map .ol-control button:hover {
    background-color: #e2f3f7;
}

.checker-board {
    background-image: linear-gradient(45deg, #00000010 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #00000010 75%), linear-gradient(45deg, transparent 75%, #00000010 75%),
        linear-gradient(45deg, #00000010 25%, transparent 25%);
    background-size: 100px 100px;
    background-position: 0 0, 0 0, -50px -50px, 50px 50px;
}

.debug {
    font-size: 12px;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.87);
    padding: 16px;
}

.debug__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.debug__mouse {
    margin-bottom: 8px;
}

.debug__label {
    font-weight: 700;
}

.osm__slider {
    width: 75%;
}

.nz-govt-logo {
    padding: 8px 0;
    display: flex;
}

.nz-govt-logo svg {
    width: 200px;
    height: auto;
}

.lui-footer-x-sm.g-footer__standard {
    background-color: #004B50;
    padding: 2px;
}

.lui-footer-x-sm.g-footer__standard .g-footer__standard-link {
    color: #D4E9EB;
}

.lui-footer-x-sm.g-footer__standard .g-footer__standard-inline-list-item {
    font-size: 14px;
    margin: 4px 16px;
}

.lui-footer-x-sm p {
    margin: 0;
}

.align-center {
    display: flex;
    align-items: center;
}

.justify-end {
    display: flex;
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.lui-header-primary.lui-header-sm .lui-header-top-section .g-flex-row {
    height: 64px !important;
}

.lui-header-primary.lui-header-sm .lui-header-top-section {
    padding-top: 4px;
    padding-bottom: 4px;
}

.lui-header-logo {
    display: flex;
}

.lui-header-logo .linz-logo-sm {
    width: 160px;
    height: auto;
}

.side-nav {
    height: 100%;
    width: 348px;
    position: absolute;
    z-index: 1;
    top: 0;
    right: -348px;
    background-color: white;
    overflow-x: hidden;
    padding: 16px;
    transition: right 0.5s;
}

.side-nav .side-nav-container {
    display: none;
}

#menu-close {
    position: absolute;
    background-color: transparent;
    top: 8px;
    right: 8px;
    font-size: 36px;
    color: #00425d;
}

.side-nav h5 {
    margin-top: 0;
}

.side-nav--opened {
    right: 0px;
}

.side-nav.lui-text-content-area h6 {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 4px;
    margin-bottom: 8px;
}

.side-nav.lui-text-content-area p {
    font-size: 14px;
    margin-top: 8px;
}

.side-nav #contact-us {
    margin-top: 8px;
}

.side-nav hr {
    color: #00425d;
}

.info-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.info-links li {
    border-bottom: 1px solid #eaeaea;
    padding: 16px 8px;
    margin: 0;
}

.info-links li a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    border: none;
}

.info-links li a:hover {
    border: none;
}


.lui-form-icon {
    position: relative;
}

.lui-standard-form .lui-form-icon.lui-form-icon--left input:not([type=checkbox]):not([type=radio]),
.lui-standard-form .lui-form-icon.lui-form-icon--left textarea,
.lui-standard-form .lui-form-icon.lui-form-icon--left select {
    border-left: 40px solid;
}

.lui-standard-form .lui-form-icon.lui-form-icon--right input:not([type=checkbox]):not([type=radio]),
.lui-standard-form .lui-form-icon.lui-form-icon--right textarea,
.lui-standard-form .lui-form-icon.lui-form-icon--right select {
    border-right: 40px solid;
}

.lui-standard-form .lui-form-icon .lui-form-icon-button {
    position: absolute;
    top: 0px;
    left: 0px;
    color: white;
    z-index: 100;
    font-size: 1.8125rem;
}

.lui-standard-form .lui-form-icon.lui-form-icon--right .lui-form-icon-button {
    right: 0px;
    left: inherit;
    border-radius: 0 3px 3px 0;
}

.lui-form-icon-button {
    background-color: #007198;
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 3px 0 0 3px;
}

.lui-form-icon-button--copied {
    background-color: #9BD79B
}
