name: Build

on:
  merge_group:
  pull_request:
  push:

jobs:
  build-deploy:
    runs-on: [self-hosted, ubuntu-codebuild-medium-test]
    concurrency: deploy-${{ github.ref }}

    permissions:
      id-token: write
      contents: write

    steps:
      - uses: linz/action-typescript@v3
        with:
          node-version: 24.x

      - name: Bundle
        run: |
          npx lerna run bundle --stream

      # TODO: running a giant copy command to import CSS and SVG files into the docs file in not super ideal
      - name: Build docs
        run: |
          cp node_modules/@linzjs/lui/dist/assets/images/linz-motif.svg docs/
          docker run --rm -v ${PWD}:/docs ghcr.io/linz/basemaps-mkdocs:v1 build

      - name: Store docs artifact
        uses: actions/upload-artifact@v4
        with:
          name: docs
          path: packages/landing/dist/docs

      # pulls all tags (needed for lerna to correctly version)
      - run: git fetch --depth=1 origin +refs/tags/*:refs/tags/* # see https://stackoverflow.com/a/60184319/9285308

      - name: Check Dependencies
        run: node scripts/detect.unlinked.dep.mjs
