name: Build

on: [push]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
    steps:
      - uses: linz/action-typescript@v1

  build-containers:
    # if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - uses: linz/action-typescript@v1

      - name: (Prod) Fetch changelog
        if: github.ref == 'refs/heads/master' && startsWith(github.event.head_commit.message, 'release:')
        run: git fetch --depth=1 origin +refs/tags/*:refs/tags/* # see https://stackoverflow.com/a/60184319/9285308

      - name: (Prod) Ensure tag exists
        if: github.ref == 'refs/heads/master' && startsWith(github.event.head_commit.message, 'release:')
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

          CURRENT_VERSION=$(node -p "require('./lerna.json').version")
          git tag v${CURRENT_VERSION} -m v${CURRENT_VERSION}

      # Package all the files
      - name: Bundle & Package all files
        run: |
          npx lerna run bundle --stream
          npm pack --workspaces
        env:
          NODE_ENV: "production"

      - name: Set up Docker Qemu
        id: qemu
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2

      - name: export GIT_VERSION
        id: version
        run: |
          GIT_VERSION=$(git describe --tags --always --match 'v*')
          echo "::set-output name=version::${GIT_VERSION}"

      - name: cp packages
        run: |
          # Files are packed into the base directory
          cp *.tgz packages/server/

      - name: Log in to registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $ --password-stdin

      - name: basemaps/cli - Build and push
        uses: docker/build-push-action@v3
        with:
          context: packages/cli
          platforms: linux/arm64,linux/amd64
          tags: ghcr.io/linz/basemaps/cli:${{ steps.version.outputs.version }}
          # push: true

      - name: basemaps/server - Build and push
        uses: docker/build-push-action@v3
        with:
          context: packages/cli
          platforms: linux/arm64,linux/amd64
          tags: ghcr.io/linz/basemaps/server:${{ steps.version.outputs.version }}
          # push: true

  build-deploy:
    runs-on: ubuntu-latest
    concurrency: deploy-${{ github.head_ref }}

    permissions:
      id-token: write
      contents: write
    steps:
      - uses: linz/action-typescript@v1
      # pulls all tags (needed for lerna to correctly version)
      - run: git fetch --depth=1 origin +refs/tags/*:refs/tags/* # see https://stackoverflow.com/a/60184319/9285308

      - name: Check Dependencies
        run: node scripts/detect.unlinked.dep.js

      - name: (Prod) Create tag
        if: github.ref == 'refs/heads/master' && startsWith(github.event.head_commit.message, 'release:')
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

          CURRENT_VERSION=$(node -p "require('./lerna.json').version")
          git tag v${CURRENT_VERSION} -m v${CURRENT_VERSION}
          git push --tags

      - name: Deploy - Bundle
        if: github.ref != 'refs/heads/master' || github.repository != 'linz/basemaps'
        run: npx lerna run bundle --stream

      - name: (NonProd) Configure AWS Credentials
        if: github.ref == 'refs/heads/master' && github.repository == 'linz/basemaps'
        uses: aws-actions/configure-aws-credentials@v1.6.1
        with:
          aws-region: ap-southeast-2
          mask-aws-account-id: true
          role-to-assume: ${{ secrets.AWS_ROLE_NON_PROD }}

      - name: (NonProd) Deploy
        if: github.ref == 'refs/heads/master' && github.repository == 'linz/basemaps'
        run: |
          npx lerna run bundle --stream
          npx lerna run deploy:deploy --stream
        env:
          SPLIT_IO_KEY: ${{secrets.SPLIT_IO_KEY_NON_PROD}}
          GOOGLE_ANALYTICS: ${{secrets.GOOGLE_ANALYTICS_NON_PROD}}
          NODE_ENV: "dev"

      - name: (Prod) Configure AWS Credentials
        if: github.ref == 'refs/heads/master' && startsWith(github.event.head_commit.message, 'release:')
        uses: aws-actions/configure-aws-credentials@v1.6.1
        with:
          aws-region: ap-southeast-2
          mask-aws-account-id: true
          role-to-assume: ${{ secrets.AWS_ROLE_PROD }}

      - name: (Prod) Deploy
        if: github.ref == 'refs/heads/master' && startsWith(github.event.head_commit.message, 'release:')
        run: |
          npx lerna run bundle --stream
          npx lerna run deploy:deploy --stream
        env:
          NODE_ENV: "production"
          GOOGLE_ANALYTICS: ${{secrets.GOOGLE_ANALYTICS_PROD}}
          SPLIT_IO_KEY: ${{secrets.SPLIT_IO_KEY_PROD}}

      - name: (Prod) Create github release
        if: github.ref == 'refs/heads/master' && startsWith(github.event.head_commit.message, 'release:')
        run: npx conventional-github-releaser -p angular
        env:
          CONVENTIONAL_GITHUB_RELEASER_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: (Prod) Publish NPM
        if: github.ref == 'refs/heads/master' && startsWith(github.event.head_commit.message, 'release:')
        run: npx lerna publish from-git --yes
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN_LINZJS}}

      - name: Benchmark
        uses: blacha/hyperfine-action@v1
