name: Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Use Node.js 10.x
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
          registry-url: https://registry.npmjs.org
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

      - name: Install
        run: yarn

      - name: Audit
        run: yarn audit

      - name: Build
        run: yarn run build

      - name: Lint
        run: yarn run lint

      - name: Test
        run: yarn run test

      - name: Benchmark
        run: yarn run benchmark

      - name: Deploy - Bundle
        run: npx lerna run deploy:bundle --stream

      - name: Deploy - Create Template
        run: npx lerna run deploy:synth --stream
        env:
          CDK_DEFAULT_ACCOUNT: ${{secrets.CDK_DEFAULT_ACCOUNT}}
          AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
          AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
          ALB_CERTIFICATE_ARN: ${{secrets.ALB_CERTIFICATE_ARN}}

      - name: Deploy - Test Deploy
        run: npx lerna run deploy:diff --stream
        env:
          CDK_DEFAULT_ACCOUNT: ${{secrets.CDK_DEFAULT_ACCOUNT}}
          AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
          AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
          ALB_CERTIFICATE_ARN: ${{secrets.ALB_CERTIFICATE_ARN}}

      - name: Deploy!
        if: github.ref == 'refs/heads/master' && github.repository == 'linz/basemaps'
        run: npx lerna run deploy:deploy --stream
        env:
          CDK_DEFAULT_ACCOUNT: ${{secrets.CDK_DEFAULT_ACCOUNT}}
          AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
          AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
          ALB_CERTIFICATE_ARN: ${{secrets.ALB_CERTIFICATE_ARN}}

      - name: Publish NPM
        if: startsWith(github.ref, 'refs/tags/v')
        run: npx lerna publish from-git --yes
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

