name: Build

on: [push]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
      - name: Use Node.js 14.x
        uses: actions/setup-node@v2.4.0
        with:
          node-version: "14.x"
          registry-url: https://registry.npmjs.org
          cache: "yarn"

      - name: Check Dependencies
        run: node scripts/detect.unlinked.dep.js

      - name: Install
        run: yarn  --frozen-lockfile --check-files

      - name: Audit
        run: yarn audit --groups dependencies

      - name: Build
        run: yarn run build

      - name: Lint
        run: yarn run lint

      - name: Check Formatting
        run: git diff --exit-code

      - name: Test
        run: yarn run test

      - name: Benchmark
        if: matrix.os == 'ubuntu-latest'
        uses: blacha/hyperfine-action@v1

  deploy:
    runs-on: ubuntu-latest
    needs: [build]
    if: github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
      # pulls all tags (needed for lerna to correctly version)
      - run: git fetch --depth=1 origin +refs/tags/*:refs/tags/* # see https://stackoverflow.com/a/60184319/9285308
      - name: Use Node.js 14.x
        uses: actions/setup-node@v2.4.0
        with:
          node-version: "14.x"
          registry-url: https://registry.npmjs.org
          cache: "yarn"

      - name: Check Dependencies
        run: node scripts/detect.unlinked.dep.js

      - name: Install
        run: yarn  --frozen-lockfile --check-files

      - name: Build
        run: yarn run build

      - name: Lint
        run: yarn run lint

      - name: Check Formatting
        run: git diff --exit-code

      - name: Test
        run: yarn run test

      - name: (Prod) Setup git config
        if: github.ref == 'refs/heads/master' && startsWith(github.event.head_commit.message, 'release:')
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: (Prod) Create tag
        if: github.ref == 'refs/heads/master' && startsWith(github.event.head_commit.message, 'release:')
        run: |
          CURRENT_VERSION=$(node -p "require('./lerna.json').version")
          git tag v${CURRENT_VERSION} -m v${CURRENT_VERSION}
          git push --tags

      - name: Create github release
        if: github.ref == 'refs/heads/master' && startsWith(github.event.head_commit.message, 'release:')
        run: npx conventional-github-releaser -p angular
        env:
          CONVENTIONAL_GITHUB_RELEASER_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Deploy - Bundle
        if: github.ref != 'refs/heads/master' || github.repository != 'linz/basemaps'
        run: npx lerna run bundle --stream

      - name: (NonProd) Configure AWS Credentials
        if: github.ref == 'refs/heads/master' && github.repository == 'linz/basemaps'
        uses: aws-actions/configure-aws-credentials@v1.5.11
        with:
          aws-access-key-id: ${{ secrets.AWS_BASEMAPS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_BASEMAPS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-2
          mask-aws-account-id: true
          role-to-assume: ${{ secrets.AWS_BASEMAPS_ROLE_NON_PROD }}

      - name: (NonProd) Deploy
        if: github.ref == 'refs/heads/master' && github.repository == 'linz/basemaps'
        run: |
          npx lerna run bundle --stream
          npx lerna run deploy:deploy --stream
        env:
          GOOGLE_ANALYTICS: ${{secrets.GOOGLE_ANALYTICS_NON_PROD}}
          NODE_ENV: "dev"
          API_KEY: ${{secrets.API_KEY_NON_PROD}}

      - name: (Prod) Publish NPM
        if: github.ref == 'refs/heads/master' && startsWith(github.event.head_commit.message, 'release:')
        run: npx lerna publish from-git --yes
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN_LINZJS}}

      - name: (Prod) Configure AWS Credentials
        if: github.ref == 'refs/heads/master' && startsWith(github.event.head_commit.message, 'release:')
        uses: aws-actions/configure-aws-credentials@v1.5.11
        with:
          aws-access-key-id: ${{ secrets.AWS_BASEMAPS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_BASEMAPS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-2
          mask-aws-account-id: true
          role-to-assume: ${{ secrets.AWS_BASEMAPS_ROLE_PROD }}

      - name: (Prod) Deploy
        if: github.ref == 'refs/heads/master' && startsWith(github.event.head_commit.message, 'release:')
        run: |
          npx lerna run bundle --stream
          npx lerna run deploy:deploy --stream
        env:
          NODE_ENV: "production"
          GOOGLE_ANALYTICS: ${{secrets.GOOGLE_ANALYTICS_PROD}}
          API_KEY: ${{secrets.API_KEY_PROD}}

      - name: Benchmark
        uses: blacha/hyperfine-action@v1
