name: Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Use Node.js 12.x
        uses: actions/setup-node@v2.1.1
        with:
          node-version: "12.x"
          registry-url: https://registry.npmjs.org

      - name: Check Dependencies
        run: node scripts/detect.unlinked.dep.js

      - name: Install
        run: yarn

      - name: Audit
        run: npx check-audit --yarn

      - name: Build
        run: yarn run build

      - name: Lint
        run: yarn run lint

      - name: Check Formatting
        run: git diff --exit-code

      - name: Test
        run: yarn run test

      - name: Benchmark
        run: yarn run benchmark

      - name: Deploy - Bundle
        run: npx lerna run deploy:bundle --stream

      - name: Configure AWS Credentials (NonProd)
        if: github.ref == 'refs/heads/master' && github.repository == 'linz/basemaps'
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-2
          mask-account-id: true
          role-to-assume: ${{ secrets.AWS_ASSUME_ROLE_NON_PROD }}

      - name: Deploy (NonProd)
        if: github.ref == 'refs/heads/master' && github.repository == 'linz/basemaps'
        run: npx lerna run deploy:deploy --stream
        env:
          ALB_CERTIFICATE_ARN: ${{secrets.ALB_CERTIFICATE_ARN}}
          CLOUDFRONT_CERTIFICATE_ARN: ${{secrets.CLOUDFRONT_CERTIFICATE_ARN}}
          GOOGLE_ANALYTICS: ${{secrets.GOOGLE_ANALYTICS_NON_PROD}}
          NODE_ENV: "dev"
          API_KEY: ${{secrets.API_KEY_NON_PROD}}

      - name: Publish NPM
        if: startsWith(github.ref, 'refs/tags/v') && github.repository == 'linz/basemaps'
        run: npx lerna publish from-git --yes
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

      - name: Configure AWS Credentials (Prod)
        if: startsWith(github.ref, 'refs/tags/v') && github.repository == 'linz/basemaps'
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-2
          mask-account-id: true
          role-to-assume: ${{ secrets.AWS_ASSUME_ROLE_PROD }}

      - name: Deploy (Prod)
        if: startsWith(github.ref, 'refs/tags/v') && github.repository == 'linz/basemaps'
        run: npx lerna run deploy:deploy --stream
        env:
          ALB_CERTIFICATE_ARN: ${{secrets.ALB_CERTIFICATE_ARN_PROD}}
          CLOUDFRONT_CERTIFICATE_ARN: ${{secrets.CLOUDFRONT_CERTIFICATE_ARN_PROD}}
          NODE_ENV: "production"
          GOOGLE_ANALYTICS: ${{secrets.GOOGLE_ANALYTICS_PROD}}
          API_KEY: ${{secrets.API_KEY_PROD}}
