on:
  push:
    branches:
      - master

permissions:
  contents: write
  pull-requests: write
  issues: write

name: release-please

jobs:
  release-please:
    runs-on: ubuntu-latest

    environment:
      name: prod

    outputs:
      releases_created: ${{ steps.release.outputs.releases_created }}
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.LI_GITHUB_ACTION_TOKEN }}

  publish-release:
    needs: [release-please]
    runs-on: ubuntu-latest

    if: ${{ needs.release-please.outputs.releases_created == 'true' }}

    environment:
      name: prod

    steps:
      - uses: linz/action-typescript@v3
        with:
          node-version: 24.x

      - name: Publish to NPM
        run: npx lerna publish from-package --yes
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
